body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/bg-light.png);
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 100% auto;
}
@media (max-width: 767px) {
  body {
    background-position: center 15%;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
}
.navbar-default {
  background-color: #001729;
}
.navbar {
  border: 0px solid transparent;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #002b4d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #002b4d;
}
.navbar-brand {
  height: auto;
  padding: 10px;
  margin-right: 10px;
}
.navbar-nav > li > a {
  padding: 30px 20px;
  line-height: 24px;
}

.navbar-contacts > li > a {
  padding: 30px 10px;
}
.navbar-contacts > li > a > span {
  font-size: 16px;
  color: #fd3913;
}


/* Dropdown Menu */
.dropdown-menu {
  background-color: #002c4d;
  border: 0px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  margin: 0 0;
}
.dropdown-menu > li > a {
  color: #fff;
  padding: 10px 20px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
@media (max-width: 767px) {
  .navbar-toggle {
    margin-top: 26px;
    border: 0px solid transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-collapse {
    border-top: 0px solid transparent; 
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-contacts > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    padding: 10px 10px 10px 40px;
  }
}


/* Dropdown SubMenu */
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a: after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a: after {
  border-left-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
    padding: 10px 10px 10px 80px;
  }
  .dropdown-submenu > .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


/* Marketing */
.marketing-title {
  margin-top: 100px;
  font-size: 42px;
  font-weight: 300;
}


/* Brands */
.brands {
  margin-top: 83px;
}
.brands-title {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 170px;
}

@media (max-width: 767px) {
  .marketing-title {
    font-size: 30px;
    margin-top: 30px;
  }
  .brands {
    margin-top: 60px;
  }
}

/* Content */
.content {
  min-height: 700px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.content-title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}


/* Product */
.panel-custom {
  min-height: 600px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 1px 12px rgba(0, 0, 0, .175);
}
.panel-custom .breadcrumb {
  padding: 15px;
  margin-bottom: 0;
  background-color: transparent;
}



/* Catalog */
.thumbnail {
  padding: 15px 2px 5px;
  text-align: center;
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
}
.products .thumbnail {
  min-height: 370px;
}
.products .thumbnail > img {
  height: 220px;
}


/* Categories */
.categories {
  margin-top: 10px;
  margin-bottom: 30px;
}
.categories h3 {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: 0px 0 0;
  z-index: 20;
  padding: 20px 25px;
  background-color: #fe5f50;
  -webkit-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.5);
}
.categories-menu {
  padding: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  z-index: 10;
  background-color: #fe5f50;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.categories-menu > li > a {
  color: #fff;
  display: block;
  padding: 10px 25px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
}
.categories-menu > li > a:hover,
.categories-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
}

.dropdown-custom {
  padding: 0;
  background-color: #fe5f50;
  border-radius: 0;
}
.dropdown-custom > li > a {
  color: #fff;
}
.dropdown-custom > li > a:hover,
.dropdown-custom > li > a:focus {
  color: #fff;
  background-color: rgba(255,255,255,0.3);
}
@media (max-width: 767px) {
  .dropdown-custom > li > a {
    padding: 10px 50px;
  }
}

.pagination {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
}


/* How to Find Us */
.how-to-find-us {
  color: #fff;
  padding: 100px 0;
  font-weight: 300;
  min-height: 400px;
  text-align: center;
  background-color: #001729;
}
.how-to-find-us h2 {
  font-weight: 300;
}


/* Form App */
.form-app {
  padding: 60px;
}
.form-app h2 {
  margin-bottom: 30px;
}
.input-lg {
  border-radius: 0;
}
.btn-lg {
  border-radius: 0;
}


/* Footer */
.footer {
  color: #fff;
  padding: 50px 0;
  font-weight: 300;
  background-color: #001729;
  background-image: url(../img/footer2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.footer h3 {
  font-weight: 300;
  margin-bottom: 25px;
}
.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer ul > li > a {
  color: #4e96d6;
}
.footer ul ul {
  padding-left: 30px;
  margin-top: 10px;
}
.footer-contacts > li > span {
  color: #fd3913;
}
.sub-footer {
  color: #fff;
  padding: 40px 0;
  font-weight: 300;
  background-color: #001d33;
}
